<launch>
  <!-- Node: Odometry from /speedsteer -->
  <node name="odometer" pkg="first_project" type="odometer" output="screen" />
  
  <!-- Node: Odometry from /swiftnav/front/gps_pose -->
  <node name="gps_odometer" pkg="first_project" type="gps_odometer" output="screen" >
    <!-- Parameters: Reference GPS values for ENU -->
    <!-- Obtained doing: rostopic echo /swiftnav/front/gps_pose -n1 -->
    <param name="lat_r" value="45.618932261267474" /> 
    <param name="lon_r" value="9.281178809669486" />
    <param name="alt_r" value="229.04575101944224" /> 
  </node>

  <!-- Node: Sector times -->
  <node name="sector_times" pkg="first_project" type="sector_times" output="screen" />

  <!-- RViz (todo: set it up better) -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find first_project)/rviz/gps_viz.rviz" />
  
</launch>
